{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Django Blog</title>
</head>

<body>
    <header class="w-screen p-4 bg-green-500 text-white px-8 flex justify-between items-center">
        <h1 class="text-4xl font-bold"><a href="/">Marti's Django Girls Blog</a></h1>
        <a href="{% url 'post_new' %}" class="flex px-2 py-1 bg-green-600 rounded-full grid place-contents-center hover:bg-green-900 transition-colors duration-200 ">
            <svg  class="p-1 aspect-square" height="28px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
            </svg>
        </a>
    </header>
    <main class="flex flex-col gap-y-4 container mx-auto mt-4 gap-2 p-2">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>