{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Django Blog</title>
</head>

<body>
    <header class="w-screen p-4 bg-green-500 text-white px-8 flex justify-between items-center md:flex-row gap-4 flex-col">
        <h1 class="text-4xl font-bold"><a href="/">Marti's Django Blog</a></h1>
        <div class="flex gap-4">
            {% if user.is_authenticated %}
             <a href="{% url 'draft_list' %}" class="px-2 py-1 bg-green-600 rounded-full grid hover:bg-green-900 transition-colors duration-200">
                <span class="flex gap-1 px-3 py-1 justify-center items-center">Drafts
                 <svg  class="py-1" width="28px" height="28px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor" d="M384 192h-64v128H192v128H0v-25.6h166.4v-128h128v-128H384V192zm-25.6 38.4v128h-128v128H64V512h192V384h128V230.4h-25.6zm25.6 192h-89.6V512H320v-64h64v-25.6zM0 0v384h128V256h128V128h128V0H0z"/>
                </svg>
                </span>
            </a>
            <a href="{% url 'post_new' %}" class="px-2 py-1 bg-green-600 rounded-full grid place-contents-center hover:bg-green-900 transition-colors duration-200 ">
                <span class="flex gap-1 px-3 py-1 justify-center items-center">Add
                <svg  class="p-1" width="28px" height="28px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
                </svg>
                </span>
            </a>
            <form method="post" action="{% url 'logout' %}"
            class="px-4 py-2 bg-green-600 rounded-full grid place-contents-center hover:bg-green-900 transition-colors duration-200">
                {% csrf_token %}
                <button class="ghost">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="px-2 py-1 bg-green-600 rounded-full grid place-contents-center hover:bg-green-900 transition-colors duration-200 ">
                <span class="flex gap-1 px-3 py-1 justify-center items-center">Login</span>
            </a>
            {% endif %}
        </div>
    </header>
    <main class="flex flex-col gap-y-4 container mx-auto mt-4 gap-2 p-2">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>