{% extends 'blog/base.html' %}

{% block content %}
    {% for draft in drafts %}
        <div>
            <div class="flex flex-col align-contents-center gap-4">
                <div class="flex gap-2 items-baseline">
                <h2 class="text-2xl font-semibold"><a href="{% url 'post_detail' pk=draft.pk %}">{{draft.title}}</a></h2>
                <small>By {{draft.author}}</small>
                </div>
                <p>{{draft.text|linebreaksbr|truncatechars:100}}</p>
                <small class="text-slate-700 italic">Created at {{draft.created_date}}</small>
            </div>

            {% if not forloop.last %}
                <hr class="mt-6 text-slate-300">
            {% endif %}
        </div>
    {% empty %}
        <p>No drafts yet, start writing a post!.</p>
    {% endfor %}
{% endblock %}