@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

label:has(+ :is(input, textarea, select)[required])::after {
    content: ' *';
    color: red;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus, textarea:focus, select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-inline: 26px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button.outline {
    color: #007bff !important;
    background: transparent !important;
    box-shadow: inset 0 0 0 2px #007bff !important;
}

button:hover {
    background: #0056b3;
}

button.outline:hover {
    background: #007bff !important;
    color: white !important;
}

button.error {
    background: #dc3545;
    color: white;
}

button.error:hover {
    background: #a71d2a;
}

button.error.outline {
    color: #dc3545 !important;
    background: transparent !important;
    box-shadow: inset 0 0 0 2px #dc3545 !important;
}

button.error.outline:hover {
    background: #dc3545 !important;
    color: white !important;
}

button.success {
    background: #28a745 !important;
    color: white !important;
}

button.success:hover {
    background: #1e7e34 !important;
}

button.success.outline {
    color: #28a745 !important;
    background: transparent !important;
    box-shadow: inset 0 0 0 2px #28a745 !important;
}

button.success.outline:hover {
    background: #28a745 !important;
    color: white !important;
}

button.ghost {
    background: transparent;
    padding: 0 !important;
}
